*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    background-color: #dcdcdc;
}
.masthead {
    width: 100%;
    height: 350px;
    background-color: #dcdcdc;
    border: 1px solid black;
}
nav {
    width: 80%;
    height: 45px;
    background-color: #dcdcdc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 1px solid black;
}
main {
    width: 100%;
    height: 500px;
    background-color: #dcdcdc;
    border: 1px solid black;
    margin-top: 5px; 
}
ul {
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
}
ul li {
    list-style-type: none;
    width: 50%;
    float: left;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}
